<a href="https://colab.research.google.com/github/JackBenadon/DS440-Project/blob/main/Pre_processing.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import datetime as dt
import calendar
import datetime
from datetime import datetime, timedelta, date
import warnings
import os

#settings
pd.set_option('display.max_row', 100)
pd.set_option('display.max_columns', 1200)
pd.set_option('display.width', 1200)
warnings.filterwarnings("ignore")
%matplotlib inline

#variables
colour=['maroon','r','g','darkgreen','c','teal','b','navy','indigo','m','deeppink','orange','sienna','yellow','khaki','olive','tan','black','grey','brown']

print("Packages installed")

Packages installed

In [3]:
# import all files in Data folder and read into dataframes
dataframes=[]
for dirname, _, filenames in os.walk('/content/drive/MyDrive/Senior year/Capstone/data/archive'):
    for filename in filenames:
        file=filename.split('.')
        file=((file[0]+"_df"))
        if file !="_df":
            filepath=os.path.join(dirname,filename)
            df=pd.read_csv(filepath,sep=",",encoding = "UTF-8")
            exec(f'{file} = df.copy()')
            print(file, df.shape)
            dataframes.append(df)
print('Data imported')

appearances_df (1540638, 13)
club_games_df (133586, 11)
competitions_df (43, 10)
clubs_df (426, 17)
game_events_df (691486, 10)
game_lineups_df (2145222, 9)
player_valuations_df (465282, 5)
games_df (66793, 23)
players_df (30495, 23)
Data imported

In [4]:
merged_table = pd.merge(player_valuations_df, players_df[['player_id', 'name']], on='player_id')
merged_table

        player_id        date  market_value_in_eur  current_club_id player_club_domestic_competition_id             name
0          405973  2000-01-20               150000             3057                                 BE1   Fadel Gobitaka
1          405973  2016-02-07               250000             3057                                 BE1   Fadel Gobitaka
2          405973  2016-07-15               250000             3057                                 BE1   Fadel Gobitaka
3          405973  2017-01-01               150000             3057                                 BE1   Fadel Gobitaka
4          405973  2018-09-11                75000             3057                                 BE1   Fadel Gobitaka
...           ...         ...                  ...              ...                                 ...              ...
465277     993081  2024-02-09                50000              924                                 TR1       Murat Eser
465278     988247  2024-02-10                50000             6890                                 TR1    Hamza Güreler
465279     720799  2024-02-12              1000000              610                                 NL1  Julian Rijkhoff
465280    1146029  2024-02-12              1000000              472                                 ES1    Juanma Herzog
465281    1201294  2024-02-12                50000             3840                                 TR1    Ozan Demirbağ

[465282 rows x 6 columns]

In [5]:
print(merged_table.columns)

Index(['player_id', 'date', 'market_value_in_eur', 'current_club_id', 'player_club_domestic_competition_id', 'name'], dtype='object')

In [18]:
filtered_df = merged_table[merged_table['player_club_domestic_competition_id'] == 'GB1']
filtered_df

        player_id        date  market_value_in_eur  current_club_id player_club_domestic_competition_id               name
46           6893  2003-12-15               900000              984                                 GB1      Gabriel Tamas
47           6893  2004-10-04              1750000              984                                 GB1      Gabriel Tamas
48           6893  2007-08-27              3000000              984                                 GB1      Gabriel Tamas
49           6893  2009-02-02              3200000              984                                 GB1      Gabriel Tamas
50           6893  2009-06-26              3400000              984                                 GB1      Gabriel Tamas
...           ...         ...                  ...              ...                                 ...                ...
465199     670988  2023-10-27               300000             1003                                 GB1       Wanya Marçal
465205     933900  2023-10-27               300000              180                                 GB1  Samuel Amo-Ameyaw
465217     565419  2023-12-05                75000               31                                 GB1        Jack Bearne
465249     746739  2023-12-19              2500000              350                                 GB1       Andre Brooks
465250     780630  2023-12-19              2000000              985                                 GB1     Willy Kambwala

[31118 rows x 6 columns]

In [21]:
df_sorted = filtered_df.sort_values(by='date', ascending=True)
df_sorted

        player_id        date  market_value_in_eur  current_club_id player_club_domestic_competition_id             name
46           6893  2003-12-15               900000              984                                 GB1    Gabriel Tamas
6255         4055  2004-10-04                50000             1132                                 GB1      Dean Marney
6145         3995  2004-10-04               200000             1123                                 GB1      Gary O'Neil
6011         3950  2004-10-04              3000000              379                                 GB1      Kevin Nolan
5934         3924  2004-10-04             30000000              631                                 GB1    Didier Drogba
...           ...         ...                  ...              ...                                 ...              ...
460678     586986  2023-12-27              1200000              873                                 GB1      Luke Plange
458709     496661  2023-12-27               200000             1031                                 GB1    Elliot Thorpe
460786     726701  2023-12-27              3000000              703                                 GB1  Rodrigo Ribeiro
464852     816124  2023-12-27               500000              543                                 GB1      Noha Lemina
426474     591844  2024-01-08               550000              405                                 GB1        Joe Gauci

[31118 rows x 6 columns]

In [26]:
filtered_df = merged_table[merged_table['name'] == 'Zlatan Ibrahimović']
filtered_df

      player_id        date  market_value_in_eur  current_club_id player_club_domestic_competition_id                name
4432       3455  2004-10-04             22000000                5                                 IT1  Zlatan Ibrahimović
4433       3455  2005-01-26             25000000                5                                 IT1  Zlatan Ibrahimović
4434       3455  2005-07-28             28000000                5                                 IT1  Zlatan Ibrahimović
4435       3455  2006-04-09             25000000                5                                 IT1  Zlatan Ibrahimović
4436       3455  2007-05-27             35000000                5                                 IT1  Zlatan Ibrahimović
4437       3455  2008-02-15             38000000                5                                 IT1  Zlatan Ibrahimović
4438       3455  2008-07-04             42000000                5                                 IT1  Zlatan Ibrahimović
4439       3455  2008-09-01             45000000                5                                 IT1  Zlatan Ibrahimović
4440       3455  2009-08-06             45000000                5                                 IT1  Zlatan Ibrahimović
4441       3455  2009-12-03             46000000                5                                 IT1  Zlatan Ibrahimović
4442       3455  2010-04-12             46000000                5                                 IT1  Zlatan Ibrahimović
4443       3455  2010-09-01             30000000                5                                 IT1  Zlatan Ibrahimović
4444       3455  2011-01-20             35000000                5                                 IT1  Zlatan Ibrahimović
4445       3455  2011-06-21             35000000                5                                 IT1  Zlatan Ibrahimović
4446       3455  2012-01-12             37000000                5                                 IT1  Zlatan Ibrahimović
4447       3455  2012-07-25             35000000                5                                 IT1  Zlatan Ibrahimović
4448       3455  2013-01-07             35000000                5                                 IT1  Zlatan Ibrahimović
4449       3455  2013-05-30             30000000                5                                 IT1  Zlatan Ibrahimović
4450       3455  2014-01-14             28000000                5                                 IT1  Zlatan Ibrahimović
4451       3455  2014-08-01             26000000                5                                 IT1  Zlatan Ibrahimović
4452       3455  2015-01-14             21000000                5                                 IT1  Zlatan Ibrahimović
4453       3455  2015-06-06             15000000                5                                 IT1  Zlatan Ibrahimović
4454       3455  2016-02-04             15000000                5                                 IT1  Zlatan Ibrahimović
4455       3455  2016-06-01             15000000                5                                 IT1  Zlatan Ibrahimović
4456       3455  2016-08-01             12000000                5                                 IT1  Zlatan Ibrahimović
4457       3455  2017-02-20             12000000                5                                 IT1  Zlatan Ibrahimović
4458       3455  2017-06-28             10000000                5                                 IT1  Zlatan Ibrahimović
4459       3455  2017-10-23              8000000                5                                 IT1  Zlatan Ibrahimović
4460       3455  2018-01-02              7000000                5                                 IT1  Zlatan Ibrahimović
4461       3455  2018-03-23              5000000                5                                 IT1  Zlatan Ibrahimović
4462       3455  2018-05-02              4000000                5                                 IT1  Zlatan Ibrahimović
4463       3455  2018-12-15              3500000                5                                 IT1  Zlatan Ibrahimović
4464       3455  2019-05-27              3500000                5                                 IT1  Zlatan Ibrahimović
4465       3455  2019-11-30              3500000                5                                 IT1  Zlatan Ibrahimović
4466       3455  2020-04-08              2800000                5                                 IT1  Zlatan Ibrahimović
4467       3455  2020-08-25              3500000                5                                 IT1  Zlatan Ibrahimović
4468       3455  2020-12-29              5000000                5                                 IT1  Zlatan Ibrahimović
4469       3455  2021-06-03              4000000                5                                 IT1  Zlatan Ibrahimović
4470       3455  2021-12-28              4000000                5                                 IT1  Zlatan Ibrahimović
4471       3455  2022-06-07              3000000                5                                 IT1  Zlatan Ibrahimović
4472       3455  2022-11-11              2000000                5                                 IT1  Zlatan Ibrahimović
4473       3455  2023-06-15              2000000                5                                 IT1  Zlatan Ibrahimović